.ScrollBar {
  height: 100%;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
}

.HorizontalScrollBar>div {
  height: 100%;
  float: left;
}

.ScrollBar .button-backward:hover,
.ScrollBar .button-forward:hover {
  background: #DDDDDD;
  color: black;
}

.ScrollBar .button-backward:active,
.ScrollBar .button-forward:active {
  background: #666666;
  color: #FFFFFF;
}

.ScrollBar .thumb {
  box-sizing: border-box;
  border: 2px solid #f1f1f1;
  background: #c1c1c1;
}

.ScrollBar .thumb:hover {
  background: #b1b1b1;
}

.ScrollBar .thumb:active {
  background: #8D8D8D;
}

.ScrollBar .mdi-triangle {
  flex-grow: 1;
  pointer-events: none;
}

.ScrollBar .button-backward,
.ScrollBar .button-forward {
  text-align: center;
  align-content: center;
  display: flex;
}

.HorizontalScrollBar .button-backward .mdi-triangle {
  transform: rotate(-90deg) scale(0.5);
}

.HorizontalScrollBar .button-forward .mdi-triangle {
  transform: rotate(90deg) scale(0.5);
}


.VerticalScrollBar .button-backward .mdi-triangle {
  transform: rotate(0deg) scale(0.5);
}

.VerticalScrollBar .button-forward .mdi-triangle {
  transform: rotate(180deg) scale(0.5);
}
