.PianoRoll {
  flex-grow: 1;
  background: var(--background-color);
}

.PianoRoll .alpha .inner {
  position: relative;
}

.PianoRoll .alphaContent {
  position: absolute;
  top: 0;
  left: 0;
}

.PianoRoll .alphaRuler {
  position: absolute;
  left: 0;
}

.PianoRoll .alpha {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.PianoRoll .beta {
  overflow: hidden;
  position: relative;
  border-top: 1px solid var(--secondary-text-color);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.PianoRoll .PianoKeys {
  position: absolute;
  top: var(--ruler-height);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}

.PianoRoll .PianoRuler {
  position: absolute;
  left: 0;
  margin-left: var(--key-width);
}

.PianoRollLeftSpace {
  width: var(--key-width);
  height: var(--ruler-height);
  background: var(--background-color);
  position: absolute;
  border-right: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}

.PianoRoll .PianoGrid {
  left: 0;
}

.PianoRoll .PianoNotes,
.PianoRoll .PianoSelection,
.PianoRoll .PianoCursor,
.PianoRoll .PianoGrid,
.PianoRoll .PianoLines {
  position: absolute;
  margin-left: var(--key-width);
  top: var(--ruler-height);
}

.PianoRoll .PianoSelection,
.PianoRoll .PianoCursor,
.PianoRoll .PianoGrid,
.PianoRoll .PianoLines {
  pointer-events: none;
}

.PianoRoll .VelocityControl {
  margin-left: var(--key-width);
  border-left: 1px solid var(--secondary-text-color);
}

.PianoRoll .ControlPane .PianoGrid {
  position: absolute;
  top: 0;
  left: 0;
}

.PianoRoll .PianoKeys {
  z-index: 6;
}

.PianoRoll .PianoRollLeftSpace {
  z-index: 10;
}

.PianoRoll .PianoRuler {
  z-index: 10;
}

.PianoRoll .ScrollBar.VerticalScrollBar {
  z-index: 10;
}
