.PianoRollToolbar {
  border-bottom: 1px solid var(--divider-color);
  height: var(--ruler-height);
}

.PianoRollToolbar .song-name {
  margin-right: 1em;
  max-width: 10em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.PianoRollToolbar .tempo {
  color: var(--secondary-text-color);
}

.PianoRollToolbar .time {
  color: var(--secondary-text-color);
  font-family: "Consolas";
  font-size: 110%;
  white-space: pre;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
}
