.QuantizeSelector .buttons {
  display: flex;
}

.QuantizeSelector {
  display: flex;
  color: var(--secondary-text-color);
  border-right: 1px solid var(--divider-color);
}


.QuantizeSelector .options .button.selected {
  background-color: var(--theme-color);
  color: white;
}

.QuantizeSelector .buttons .ToolbarItem {
  width: 2.5em;
}

.QuantizeSelector .options>div {
  display: flex;
  padding: 0 0.5em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.QuantizeSelector .options .dot {
  font-size: 50%;
}

.QuantizeSelector .options {
  border-left: 1px solid var(--divider-color);
  display: flex;
  flex-direction: column;
}

.QuantizeSelector .label {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  color: var(--secondary-text-color);
  font-size: 120%;
}
