.QuantizeSelector .buttons {
  display: flex;
}

.QuantizeSelector {
  display: flex;
  color: var(--secondary-text-color);
  border-right: 1px solid var(--divider-color);
}

.QuantizeSelector .options .button.selected {
  background-color: var(--theme-color);
  color: white;
}

.QuantizeSelector .options>div {
  display: flex;
  padding: 0 0.5em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.QuantizeSelector .options .dot {
  font-size: 50%;
}

.QuantizeSelector .options {
  border-left: 1px solid var(--divider-color);
  display: flex;
  flex-direction: column;
}

.QuantizeSelector .label {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 120%;
}

.QuantizeSelector .denominator-select {
  border: none;
  color: inherit;
  -webkit-appearance: none;
  transition: 0.3s ease background-color;
}

.QuantizeSelector .updown-mark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: -1em;
  width: 1em;
  pointer-events: none;
}

.QuantizeSelector .denominator-select {
  padding-right: 1em;
  padding-left: 1em;
  outline: none;
}

.QuantizeSelector .denominator-select:hover {
  background: rgba(0, 0, 0, 0.05);
}