[submodule "src/submodules/EaselJS-ScrollContainer"]
	path = src/submodules/EaselJS-ScrollContainer
	url = https://github.com/ryohey/EaselJS-ScrollContainer
[submodule ".\\src\\submodules\\shinjuku"]
	path = .\\src\\submodules\\shinjuku
	url = https://github.com/ryohey/shinjuku.git
[submodule "src/submodules/jasmid"]
	path = src/submodules/jasmid
	url = https://github.com/ryohey/jasmid.git
