rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /songs/{songId} {
      allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId && !('uid' in request.writeFields);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    match /songData/{songDataId} {
      allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId && !('uid' in request.writeFields);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
