.QuantizeSelector {
  display: flex;
  color: var(--secondary-text-color);
  position: relative;
  font-size: 110%;
}

.QuantizeSelector .dot-label {
  font-size: 20%;
  top: -1em;
  position: relative;
  color: var(--secondary-text-color);
}

.QuantizeSelector .triplet-label {
  color: var(--secondary-text-color);
  font-size: 70%;
  border-radius: 1em;
  padding: 0 0.24em;
}

.QuantizeSelector>.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.QuantizeSelector>.content .value {
  min-width: 2em;
}

.QuantizeSelector .QuantizePopup {
  top: 3em;
  left: -3em;
}