.ArrangeView {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.ArrangeView>.alpha {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}

.ArrangeTrack {
  background: var(--background-color);
  border-bottom: 1px solid var(--divider-color);
}

.ArrangeView .tracks,
.ArrangeView .PianoGrid,
.ArrangeView .PianoRuler,
.ArrangeView .PianoCursor,
.ArrangeView .PianoSelection {
  position: absolute;
  top: 0;
  left: 0;
}

.ArrangeView .PianoRuler {
  z-index: 9;
}

.ArrangeView .ScrollBar {
  z-index: 100;
}

.ArrangeView .scroll-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 17px;
  width: 17px;
  background: var(--secondary-background-color);
}

.ArrangeView .right {
  position: relative;
  flex-grow: 1;
}

.ArrangeView .left {
  width: 14em;
  background: var(--secondary-background-color);
  box-sizing: border-box;
  position: relative;
  z-index: 11;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1);
}

.ArrangeView .right>.content {
  position: absolute;
  top: var(--ruler-height);
  width: 100%;
  height: 100%;
  background: var(--secondary-background-color);
}

.ArrangeView .headers {
  position: absolute;
  margin-top: var(--ruler-height);
  width: 100%;
}

.ArrangeView .TrackHeader {
  padding: 0.2em 1em;
  box-sizing: border-box;
  border-bottom: 1px solid var(--divider-color);
  background: var(--background-color);
}

.ArrangeView .TrackHeader:hover {
  background: var(--secondary-background-color);
}


.ArrangeView .left-top-space {
  height: var(--ruler-height);
  border-bottom: 1px solid var(--divider-color);
  background: var(--background-color);
  position: absolute;
  top: 0;
  z-index: 11;
  left: 0;
  width: 100%;
}