.ArrangeView {
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--divider-color);
  overflow: hidden;
}

.ArrangeTrack {
  border-bottom: 1px solid var(--divider-color);
  background: var(--background-color);
}

.ArrangeView .tracks,
.ArrangeView .PianoGrid,
.ArrangeView .PianoRuler,
.ArrangeView .PianoCursor,
.ArrangeView .PianoSelection {
  position: absolute;
  top: 0;
  left: 0;
}

.ArrangeView .PianoRuler {
  z-index: 10;
}

.ArrangeView .content {
  position: absolute;
  top: var(--ruler-height);
  width: 100%;
  height: 100%;
  background: var(--secondary-background-color);
}

.ArrangeView .ScrollBar {
  z-index: 100;
}

.ArrangeView .scroll-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 17px;
  width: 17px;
  background: var(--secondary-background-color);
}

.ArrangeView .tracks {
  border-bottom: 1px solid var(--secondary-text-color);
}
