.ArrangeView {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.ArrangeView>.alpha {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  background: var(--secondary-background-color);
}

.ArrangeTrack {
  background: var(--background-color);
  border-bottom: 1px solid var(--divider-color);
}

.ArrangeView .tracks,
.ArrangeView .PianoGrid,
.ArrangeView .PianoRuler,
.ArrangeView .PianoCursor,
.ArrangeView .PianoSelection {
  position: absolute;
  top: 0;
  left: 0;
}

.ArrangeView .PianoRuler {
  z-index: 9;
}

.ArrangeView .ScrollBar {
  z-index: 100;
}

.ArrangeView .scroll-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 17px;
  width: 17px;
  background: var(--secondary-background-color);
}

.ArrangeView .right {
  position: relative;
  flex-grow: 1;
}

.ArrangeView .right>.content {
  position: absolute;
  margin-top: var(--ruler-height);
  width: 100%;
  height: 100%;
}

.ArrangeView .headers {
  position: absolute;
  margin-top: var(--ruler-height);
  width: 100%;
}

.ArrangeView .TrackHeader {
  padding: 0.2em 1em;
  box-sizing: border-box;
  border-bottom: 1px solid var(--divider-color);
  background: var(--background-color);
  position: relative;
}

.ArrangeView .TrackHeader:hover {
  background: var(--secondary-background-color);
}

.ArrangeView .TrackHeader .name {
  font-weight: bold;
  font-size: 110%;
}

.ArrangeView .TrackHeader .instrument {
  font-size: 90%;
  color: var(--secondary-text-color);
}

.ArrangeView .left-top-space {
  height: var(--ruler-height);
  border-bottom: 1px solid var(--divider-color);
  background: var(--background-color);
  position: absolute;
  top: 0;
  z-index: 11;
  left: 0;
  width: 100%;
}

.ArrangeView .NavigationBar {
  border-bottom: 1px solid var(--divider-color);
}

.ArrangeView .NavigationBar .menu {
  display: flex;
  flex-grow: 1;
  -webkit-app-region: drag;
}

.ArrangeView .NavigationBar .NavItem {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 1em;
  text-transform: uppercase;
  font-size: 90%;
}

.ArrangeView .NavigationBar .NavItem:hover {
  opacity: 0.5;
}

.ArrangeView .AddTrackButton {
  padding: 0.5em 0.75em;
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: var(--background-color);
}

.ArrangeView .AddTrackButton:hover {
  background: var(--secondary-background-color);
}

.ArrangeView .AddTrackButton .Icon {
  margin-right: 0.5em;
}

.ArrangeView .TrackHeader .mark {
  position: absolute;
  right: 1em;
  top: 0.8em;
  background: var(--secondary-background-color);
  border-radius: 100px;
  width: 1.25em;
  height: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  font-size: 110%;
}
