html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  height: 100%;
}

div, label, button, canvas, section, a, p, header, footer, ul, li {
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

/* avoid 3px margin */
canvas {
  vertical-align: middle;
}

/* ScrollBar */

.ScrollBar {
  background-color: var(--background-color);
}

.ScrollBar .thumb {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--secondary-background-color);
}

.ScrollBar .thumb:active,
.ScrollBar .thumb:hover {
  background: var(--tertiary-background-color);
}

.ScrollBar .button-backward:active,
.ScrollBar .button-backward:hover,
.ScrollBar .button-forward:active,
.ScrollBar .button-forward:hover {
  background: var(--tertiary-background-color);
}