@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/* MSDOS 6.22 CSS Theme */
:root {
    --charH: 19px;
    --charHneg: -19px;
    --charW1: 8px;
    --charW2: 16px;
    --charW2neg: -16px;
    --charW3: 24px;
    --charW3neg: -24px;

    --clickable: white;
    /* --visited: rgb(129, 0, 129); */
    /* --active: #800; */
    --button: #555;
    --focus: #00f;
    --background: #000;
    --shadow: #005;
    --neutral4: #fff;
    --neutral3: #fff;
    --neutral2: #fff;
    --neutral1: #777;
    --neutral0: #000;

    font-size: 14px;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-moz-selection {
    background: rgba(170, 170, 170, 0.99);
    color: #000088;
}

*::selection {
    background: rgba(170, 170, 170, 0.99);
    color: #000088;
}

/* Basic elements */

body {
    background: var(--background);
    overflow: hidden;
    color: var(--neutral2);
}

/* Margins in one direction (bottom) */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--neutral4);
    margin: 0 0 var(--charH) 0;
    padding: 0;
    font-weight: normal;
}

p {
    margin: 0 0 var(--charH) 0;
}

a {
    text-decoration: none;
    color: var(--clickable);
    cursor: pointer;
}

a:active {
    background: var(--active);
}

a:visited {
    color: var(--visited);
}

/* Form elements */

select,
button {
    border: none;
    background: none;
    border-radius: 2px;
    padding: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 var(--charW1);
    color: white;
    cursor: pointer;
}

select {
    background-color: var(--button);
    background-image:
        /* A little down-arrow */
        linear-gradient(60deg, transparent 50%, var(--clickable) 50%),
        linear-gradient(120deg, var(--clickable) 50%, transparent 50%);
    background-position: calc(100% - var(--charW1)*1.5) 5px, calc(100% - var(--charW1)) 5px;
    background-size: calc(var(--charW1)*0.5) 12px, calc(var(--charW1)*0.5) 12px;
    background-repeat: no-repeat;
    padding-right: var(--charW2);
    max-width: 240px;
}

select option {
    font-size: 14px;
}

button {
    background: var(--button);
}

button:active {
    background: var(--active);
}

button:disabled {
    background: var(--neutral1);
    color: var(--neutral3);
}

/* Component overrides */

body,
#root {
    margin: 0;
}

.error-box-outer {
    position: absolute;
    z-index: 100;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: start;
    -ms-flex-pack: center;
        justify-content: center;
    height: 100%;
    width: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    -webkit-transition: all 150ms steps(4);
    transition: all 150ms steps(4);
    padding: 0 var(--charW2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.error-box {
    background-color: var(--active);
    color: var(--neutral4);
    padding: var(--charH) var(--charW2);
    -webkit-box-shadow: var(--charW1) var(--charW1) var(--shadow);
            box-shadow: var(--charW1) var(--charW1) var(--shadow);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: start;
    overflow: hidden;
    max-height: 100%;
    pointer-events: all;
    width: 100%;
    height: calc(4 * var(--charH));
}

.error-box-outer[hidden] {
    top: calc(-4 * var(--charH));
    visibility: hidden;
}

.error-box .message {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 100%;
    overflow: hidden;
    padding-right: var(--charW1);
    text-overflow: ellipsis;
    white-space: initial;
}

.modulation * {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
}

.octocat {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%0Aaria-label='GitHub' role='img'%0AviewBox='0 0 512 512'%3E%3Cpath%0Ad='m0 0H512V512H0'%0Afill='%23000000'/%3E%3Cpath fill='%23fff' d='M335 499c14 0 12 17 12 17H165s-2-17 12-17c13 0 16-6 16-12l-1-44c-71 16-86-34-86-34-12-30-28-37-28-37-24-16 1-16 1-16 26 2 40 26 40 26 22 39 59 28 74 22 2-17 9-28 16-35-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-32 3-67 0 0 21-7 70 26 42-12 86-12 128 0 49-33 70-26 70-26 14 35 6 61 3 67 16 18 26 41 26 69 0 98-60 120-117 126 10 8 18 24 18 48l-1 70c0 6 3 12 16 12z'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    display: inline-block;
}

.noteColor_default {
    background-color: white;
}

.noteColor_0_colors {
    background-color: white !important;
}

.noteColor_1_colors {
    background-color: rgb(130, 0, 0) !important;
}

.noteColor_1_colors:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    background-color: white !important;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.noteColor_6_colors:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background-color: black !important;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.noteColor_2_colors {
    background-color: red !important;
}

.noteColor_3_colors {
    background-color: #007000 !important;
}

.noteColor_4_colors {
    background-color: #00fb47 !important;
}

.noteColor_5_colors {
    background-color: #9500b3 !important;
}

.noteColor_6_colors {
    background-color:  #ea7eff !important;
}

.noteColor_7_colors {
    background-color: rgb(120, 120, 120) !important;
}

.noteColor_8_colors {
    background-color: rgb(0, 0, 255) !important;
}

.noteColor_9_colors {
    background-color:  #03b9d5 !important;
}

.noteColor_10_colors {
    background-color: #ff7328 !important;
}

.noteColor_11_colors {
    background-color: #ff0 !important;
}

.noteColor_disabled {
    -webkit-box-shadow: 0 0 1px inset white;
            box-shadow: 0 0 1px inset white;
    background-color: transparent;
}

.voiceShape-0 {
    border-radius: 6px 6px 6px 6px;

}

.voiceShape-1 {
    border-radius: 6px 0 6px 0;
}

.voiceShape-2 {
    border-radius: 0 6px 0 6px;
}

.voiceShape-3 {
    border-radius: 6px 0 0 6px;
}

.voiceShape-4 {
    border-radius: 0 6px 6px 0;
}

.voiceShape-5 {
    border-radius: 6px 6px 0 0;
}

.voiceShape-6 {
    border-radius: 0 0 6px 6px;
}

.voiceShape-7 {
    border-radius: 0 6px 6px 6px;
}

.voiceShape-8 {
    border-radius: 6px 0 6px 6px;
}

.voiceShape-9 {
    border-radius: 6px 6px 0 6px;
}

 .voiceShape-10 {
    border-radius: 6px 6px 6px 0;
}

.voiceShape-11 {
    border-radius: 6px 0 0 0;
}

.voiceShape-12 {
    border-radius: 0 6px 0 0;
}

.voiceShape-13 {
    border-radius: 0 0 6px 0;
}

.voiceShape-14 {
    border-radius: 0 0 0 6px;
}

.voiceShape-15 {
    border-radius: 0 0 0 0;
}

.audio-context-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    z-index: 100000;
}

.unlock-audio-button {
    padding: 15px 30px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    z-index: 100001;
}

.unlock-audio-button:hover {
    background: #0056b3;
}

/* Modern scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--button);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clickable);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--button) transparent;
}

.Book h2:not(:first-child) {
    margin-top: 60px;
}

