:root {
  --header-height: 40px;
  --side-width: 16em;
  --property-pane-width: 300px;
  --track-info-height: 12em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  background: var(--background-color);
  color: var(--text-color);
}

/* avoid 3px margin */
canvas {
  vertical-align: middle;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.track-info {
  width: var(--side-width);
}

.event-list {
  width: var(--side-width);
  overflow: auto;
  height: 100%;
}

#piano-roll-container .alpha .inner {position: relative;}

.toolbar {
  display: block;
}

.property-pane {
  width: var(--property-pane-width);
  overflow: auto;
}

body, input, button, textarea, option {
  font-family: var(--font);
  color: var(--text-color);
}

.track-list {
  width: 13em;
  display: block;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid var(--divider-color);
}

div#side {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-right: 1px solid var(--divider-color);
}

div#piano-roll-container {
  flex-grow: 1;
  flex-shrink: 100;
  position: relative;
  overflow: hidden;
}

div#vertical {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.popup-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-container .content {
  background: var(--background-color);
  max-width: 50em;
  border-radius: 5px;
  margin: 0 auto;
}


.track-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.track-list li {
  border-bottom: 1px solid var(--divider-color);
  overflow: hidden;
}

.track-list li.selected {
  color: var(--theme-color);
}

.track-list .add-track {
  color: var(--secondary-text-color);
  padding: 0.5em;
  margin: 0;
  cursor: pointer;
}

.track-list .add-track:hover {
  color: black;
}

.track-list .add-track .icon {
  margin-right: 0.5em;
  font-size: 80%;
  font-family: "Flat-UI-Icons";
  font-weight: normal;
}

.track-list .name {
  margin: 0;
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding: 0.5em;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.track-list .mute, .solo {
  float: left;
  width: 15%;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid var(--divider-color);
}

.track-list .mute {
  font-family: "Flat-UI-Icons";
  font-weight: normal;
  font-size: 110%;
}


.toolbar .file input[type="file"] {
  display: none;
}

.toolbar .icon {
  font-family: "Flat-UI-Icons";
  font-weight: normal;
}

.toolbar > .container {
  background: var(--secondary-background-color);
  height: var(--header-height);
  box-sizing: border-box;
  border-bottom: 1px solid var(--divider-color);
}

.toolbar button.selected {
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 2px solid var(--theme-color);
}

.toolbar button:hover, .file:hover {
  opacity: 0.5;
}

.toolbar button, .file {
  background: transparent;
  min-width: 3em;
  padding: 0 0.5em;
  -webkit-appearance: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 110%;
  height: 100%;
}

.toolbar .section {
  float: left;
  border-right: 1px solid var(--divider-color);
  margin-right: 1em;
  height: 100%;
  padding-right: 1em;
}

.toolbar .song-section>p {
  float: left;
}

.toolbar .song-name {
  margin-right: 1em;
  max-width: 10em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.toolbar .tempo {
  color: var(--secondary-text-color);
}

.toolbar .time {
  color: var(--secondary-text-color);
  font-family: "Consolas";
  font-size: 110%;
  white-space: pre;
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  float: none;
}

.track-info li {
  border-bottom: 1px solid var(--divider-color);
}
.track-info li.name input {
  font-weight: bold;
  padding: 1em;
  font-size: 1.2em;
  width: 100%;
  box-sizing: border-box;
}

.track-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.track-info label {
  background: var(--secondary-background-color);
  display: inline-block;
  padding: 0.3em;
  width: 35%;
  height: 23px;
  box-sizing: border-box;
  margin: 0;
  float: left;
}

.track-info input[type="text"] {
  background: var(--background-color);
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
  height: 23px;
  width: 65%;
}

.event-list table {
  border-collapse: collapse;
  width: 100%;
}
.event-list th,
.event-list td {
  font-weight: normal;
  border: 1px solid var(--divider-color);
  border-right: none;
  border-left: none;
}
.event-list td {
  white-space: nowrap;
}

.instrument-browser .container {
  padding: 2em;
  overflow: hidden;
}

.instrument-browser label {
  padding: 0.5em 1em;
  display: block;
}

.instrument-browser select {
  overflow: auto;
}

.instrument-browser .left {
  float: left;
}

.instrument-browser .left select {
  width: 17em;
}

.instrument-browser .right {
  float: left;
}

.instrument-browser .right select {
  width: 17em;
}

.instrument-browser option {
  padding: 0.5em 1em;
}

.instrument-browser .footer {
  text-align: right;
}

.instrument-browser button {
  -webkit-appearance: none;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 4px;
  margin-left: 1em;
  margin-top: 1em;
  cursor: pointer;
}

.instrument-browser button:hover {
  opacity: 0.5;
}

.instrument-browser button.ok {
  background: #3e4eee;
  color: white;
}

.instrument-browser button.cancel {
  background: transparent;
  border: 1px solid currentColor;
  color: rgb(183, 183, 183);
}

.property-pane li {
  border-bottom: 1px solid var(--divider-color);
}

.property-pane ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.property-pane label {
  background: var(--secondary-background-color);
  display: inline-block;
  padding: 0.3em;
  width: 5em;
  height: 23px;
  box-sizing: border-box;
  margin: 0;
  float: left;
}

.property-pane input[type="text"] {
  background: var(--background-color);
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
  height: 23px;
}

.property-pane button {
  background: var(--background-color);
  -webkit-appearance: none;
  border-radius: 2px;
  border: 1px solid var(--divider-color);
  cursor: pointer;
}

.property-pane button:hover {
  background: var(--secondary-background-color);
}

.select-container {
  position: relative;
  display: inline-block;
  border: 1px solid var(--divider-color);
  margin-right: 1em;
}

.select-container select {
  background: var(--background-color);
  color: var(--text-color);
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 2.5em 0 1em;
  border: none;
  height: 1.8em;
  display: inline-block;
}

.select-container option {
  color: var(--text-color);
}

.select-container::after {
  font-family: "Flat-UI-Icons";
  font-weight: normal;
  content: "\e603";
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  display: inline-block;
  pointer-events: none;
}

#root {
  height: 100%;
}

.PianoKeysWrapper {
  position: absolute;
  top: var(--ruler-height);
  background: white;
  border-right: 1px solid var(--divider-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}

.PianoGridWrapper {
  position: absolute;
  left: var(--key-width);
  top: var(--ruler-height);
  width: calc(100% - var(--key-width));
  height: 100%;
}

.PianoNotes {
  position: absolute;
  margin-left: var(--key-width);
  top: var(--ruler-height);
}

.PianoRulerWrapper {
  position: absolute;
  left: 0;
  padding-left: var(--key-width);
  background: rgb(255, 255, 255);
  border-bottom: 1px solid var(--secondary-text-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}

#piano-roll-container .alpha {
  height: calc(100% - var(--control-height));
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

#piano-roll-container .beta {
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  padding-left: var(--key-width);
  height: var(--control-height);
  border-top: 1px solid var(--secondary-text-color);
 }


.PianoRollLeftSpace {
  width: var(--key-width);
  height: var(--ruler-height);
  background: var(--background-color);
  position: fixed;
  border-right: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--secondary-text-color);
}

.PianoSelection,
.PianoCursor {
  position: absolute;
  margin-left: var(--key-width);
  top: var(--ruler-height);
  pointer-events: none;
}