
.EventList table {
  line-height: 2;
}

.EventList table th {
  font-weight: bold;
}

.EventList table tr:nth-child(even), 
.EventList table thead {
  background: rgba(0, 0, 0, 0.02);
}

.EventList {
  width: 30em;
  overflow: auto;
  height: 100%;
}

.EventList table {
  border-collapse: collapse;
  width: 100%;
}

.EventList th,
.EventList td {
  font-weight: normal;
  border: 1px solid var(--divider-color);
  border-right: none;
  border-left: none;
}

.EventList td {
  white-space: nowrap;
}
