.TrackInfo {
  background: var(--secondary-background-color);
}

.TrackInfo li {
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  align-items: center;
}

.TrackInfo li.name input {
  font-weight: bold;
  padding: 1em;
  font-size: 1.2em;
  width: 100%;
  box-sizing: border-box;
}

.TrackInfo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.TrackInfo label {
  background: var(--secondary-background-color);
  margin-right: 0.5em;
  font-size: 90%;
  font-weight: bold;
}

.TrackInfo input[type="text"] {
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
  height: 23px;
  width: 65%;
  background: transparent;
}
