.SettingsView .content {
  width: 70%;
  margin: 3em auto;
}

.SettingsView .SettingItem {
  display: flex;
  min-height: 3em;
  align-items: center;
  border-bottom: 1px solid var(--divider-color);
}

.SettingsView .SettingItem .label {
  font-weight: bold;
  min-width: 10em;
}

.SettingsView .SettingItem .value {
}