@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300");

:root {
  --font: -apple-system, BlinkMacSystemFont, Avenir, Lato;
  --canvas-font: Arial;
  --theme-color: hsl(230, 70%, 55%);
  --red-color: hsl(10, 70%, 55%);
  --yellow-color: hsl(50, 70%, 55%);
  --text-color: #fbfcff;
  --secondary-text-color: #8e96ab;
  --tertiary-text-color: #5a6173;
  --divider-color: #454a58;
  --background-color: #272a36;
  --secondary-background-color: #454b60;
  --tertiary-background-color: #535b72;
  --note-color: hsl(230, 70%, 55%);
  --key-height: 12px;
  --key-width: 64px;
  --ruler-height: 30px;
  --header-height: 40px;
  --side-width: 16em;
  --track-info-height: 12em;
  --piano-key-black: #272a36;
  --piano-key-white: #fbfcff;
  --piano-black-key-lane-color: #1f2029;
}

body,
input,
button,
textarea,
option {
  font-family: var(--font);
  color: var(--text-color);
}
