.Section header {
  position: relative;
  border-bottom: 1px solid var(--divider-color);
  padding: 0.75em 1em;
  box-sizing: border-box;
  display: flex;
  border-radius: 0;
}

.Section header .title {
  width: calc(100% - 3em);
  display: inline-block;
  margin: 0;
  font-weight: bold;
  flex: 1;
}

.Section .content {
  user-select: initial;
}
