.ArrangeView {
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--divider-color);
  overflow: hidden;
}

.ArrangeTrack {
  border-bottom: 1px solid var(--divider-color);
}

.ArrangeView .tracks,
.ArrangeView .PianoGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ArrangeView .PianoRuler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.ArrangeView .content {
  position: absolute;
  top: var(--ruler-height);
  width: 100%;
  height: 100%;
}


.ArrangeView .ScrollBar {
  z-index: 100;
}

.ArrangeView .PianoCursor {
  position: absolute;
}

.ArrangeView .scroll-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 17px;
  width: 17px;
  background: var(--secondary-background-color);
}