.EventEditor .container {
  padding: 2em;
}

.EventEditor .footer {
  text-align: right;
  clear: both;
}

.EventEditor .footer button {
  -webkit-appearance: none;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 4px;
  margin-left: 1em;
  margin-top: 1em;
  cursor: pointer;
}

.EventEditor .footer button:hover {
  opacity: 0.5;
}

.EventEditor .footer button.ok {
  background: #3e4eee;
  color: white;
}

.EventEditor .footer button.cancel {
  background: transparent;
  border: 1px solid currentColor;
  color: rgb(183, 183, 183);
}
