.Section header {
  background: var(--secondary-background-color);
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--divider-color);
  padding: 0.5em;
  box-sizing: border-box;
}

.Section header .title {
  width: calc(100% - 3em);
  display: inline-block;
  margin: 0;
}

.Section header button {
  width: 2em;
  outline: 0;
}
