.PianoRoll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.PianoRoll .alpha .inner {
  position: relative;
}

.PianoRoll .fixed-left,
.PianoRoll .fixed-left-top {
  position: absolute;
  top: 0;
}

.PianoRoll .alpha {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: calc(100% - var(--control-height));
}

.PianoRoll .beta {
  overflow-x: scroll;
  position: relative;
  height: var(--control-height);
  border-top: 1px solid var(--secondary-text-color);
  box-sizing: border-box;
}

.PianoKeys {
  position: absolute;
  top: var(--ruler-height);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}

.PianoRuler {
  position: absolute;
  left: 0;
  margin-left: var(--key-width);
  background: rgb(255, 255, 255);
  border-bottom: 1px solid var(--secondary-text-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}

.PianoRollLeftSpace {
  width: var(--key-width);
  height: var(--ruler-height);
  background: var(--background-color);
  position: absolute;
  border-right: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--secondary-text-color);
}

.PianoGrid {
  left: 0;
}

.PianoNotes,
.PianoSelection,
.PianoCursor,
.PianoGrid,
.PianoLines {
  position: absolute;
  margin-left: var(--key-width);
  top: var(--ruler-height);
}

.PianoSelection,
.PianoCursor,
.PianoGrid,
.PianoLines {
  pointer-events: none;
}

.PianoControl {
  margin-left: var(--key-width);
}
