.property-pane {
  overflow: auto;
}

.property-pane li {
  border-bottom: 1px solid var(--divider-color);
}

.property-pane ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.property-pane label {
  background: var(--secondary-background-color);
  display: inline-block;
  padding: 0.3em;
  width: 5em;
  height: 23px;
  box-sizing: border-box;
  margin: 0;
  float: left;
}

.property-pane input[type="text"] {
  background: var(--background-color);
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
  height: 23px;
}

.property-pane button {
  background: var(--background-color);
  -webkit-appearance: none;
  border-radius: 2px;
  border: 1px solid var(--divider-color);
  cursor: pointer;
}

.property-pane button:hover {
  background: var(--secondary-background-color);
}
