.toolbar {
  display: flex;
  background: var(--secondary-background-color);
  height: var(--header-height);
  box-sizing: border-box;
  border-bottom: 1px solid var(--divider-color);
}

.toolbar .icon {
  font-family: "Flat-UI-Icons";
  font-weight: normal;
}

.toolbar button.selected {
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 2px solid var(--theme-color);
}

.toolbar button:hover, .file:hover {
  opacity: 0.5;
}

.toolbar button {
  background: rgba(0, 0, 0, 0);
  min-width: 3em;
  padding: 0 0.5em;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 110%;
  height: 100%;
  display: flex;
  align-items: center;
}

.toolbar .section {
  display: flex;
  border-right: 1px solid var(--divider-color);
  margin-right: 1em;
  height: 100%;
  padding-right: 1em;
}

.toolbar .song-name {
  margin-right: 1em;
  max-width: 10em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.toolbar .tempo {
  color: var(--secondary-text-color);
}

.toolbar .time {
  color: var(--secondary-text-color);
  font-family: "Consolas";
  font-size: 110%;
  white-space: pre;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
}
