.TrackList {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background: var(--tertiary-background-color);
  padding: 0;
}

.TrackListItem {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 1em;
  border-bottom: 1px solid var(--divider-color);
}

.TrackListItem .controls {
  display: flex;
}

.TrackListItem .controls .Slider {
  flex-grow: 1;
}

.TrackList .add-track {
  display: inline-block;
  color: var(--secondary-text-color);
  padding: 0.5em 1em;
  margin: 1.5em auto;
  cursor: pointer;
  background: var(--secondary-background-color);
  border-radius: 99px;
}

.TrackList .add-track:hover {
  color: black;
}

.TrackList .add-track .icon {
  margin-right: 0.5em;
  font-size: 80%;
  font-family: "Flat-UI-Icons";
  font-weight: normal;
}

.TrackListItem .name {
  margin-bottom: 0.5em;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TrackListItem .button {
  padding: 0.3em 0.5em;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-radius: 99px;
  background: var(--secondary-background-color);
  font-size: 110%;
}

.TrackListItem .button,
.TrackListItem .Slider {
  margin-right: 0.5em;
}

.TempoTrackItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  padding: 1em;
  border-bottom: 1px solid var(--divider-color);
}


.TrackListItem.selected,
.TempoTrackItem.selected {
  color: var(--theme-color);
  background: rgba(255, 255, 255, 1);
}

.TempoTrackItem .NumberInput {
  width: 6em;
}

.TempoTrackItem .name {
  flex-grow: 1;
}

.TrackListItem .button.solo.active {
    background: var(--yellow-color);
    color: white;
}

.TrackListItem .button.mute.active {
    background: var(--red-color);
    color: white;
}
