.Button {
  display: inline-block;
  transition: 0.3s ease background-color;
  border-radius: 0.2em;
  font-weight: bold;
  border: none;
  padding: 0.5em 0.75em;
  user-select: none;
  cursor: default;
}

.Button:hover {
  background: rgba(0, 0, 0, 0.04);
}

.Button:active {
  background: rgba(0, 0, 0, 0.08);
}
