.Knob .mark {
  transform-origin: center;
}

.Knob .mark {
  width: 2em;
  height: 2em;
  overflow: hidden;
  text-align: center;
  border: 2px solid var(--tertiary-text-color);
  border-radius: 10em;
  box-sizing: border-box;
}

.Knob .title {
  font-size: 90%;
  text-transform: uppercase;
}

.Knob {
  position: relative;
  user-select: none;
  display: inline-block;
}

.Knob.dragging .value,
.Knob:hover .value {
  opacity: 0.9;
}

.Knob .value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  font-size: 80%;
  padding: 0 0.3em;
  opacity: 0;
  pointer-events: none;
}

.Knob .dot {
  background: var(--theme-color);
  width: 0.1em;
  height: 0.4em;
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  border-radius: 10em;
  padding: 0;
}
