.select-container {
  position: relative;
  display: inline-block;
  border: 1px solid var(--tertiary-text-color);
  margin-right: 1em;
}

.select-container select {
  background: var(--background-color);
  color: var(--text-color);
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 2.5em 0 1em;
  border: none;
  height: 1.8em;
  display: inline-block;
  font-size: 90%;
  -webkit-appearance: none;
  outline: none;
}

.select-container option {
  -webkit-appearance: none;
}

.select-container .arrow-down {
  position: absolute;
  right: 0;
  top: -0.1em;
  font-size: 1.6em;
  pointer-events: none;
  color: var(--secondary-text-color);
}