.ScaleButton > svg {
  width: 15px;
  height: 15px;
  transform: scale(0.8);
}

.ScaleButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ScaleButton:hover {
  background: #dddddd;
  color: black;
}
