.ScrollBar {
  height: 100%;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
}

.HorizontalScrollBar > div {
  height: 100%;
  float: left;
}

.ScrollBar .button-backward:hover,
.ScrollBar .button-forward:hover {
  background: #dddddd;
  color: black;
}

.ScrollBar .button-backward:active,
.ScrollBar .button-forward:active {
  background: #666666;
  color: #ffffff;
}

.ScrollBar .thumb {
  box-sizing: border-box;
  border: 2px solid #f1f1f1;
  background: #c1c1c1;
}

.ScrollBar .thumb:hover {
  background: #b1b1b1;
}

.ScrollBar .thumb:active {
  background: #8d8d8d;
}

.ScrollBar .triangle {
  flex-grow: 1;
  pointer-events: none;
  width: 15px;
  height: 15px;
}

.ScrollBar .button-backward,
.ScrollBar .button-forward {
  text-align: center;
  align-content: center;
  display: flex;
}

.HorizontalScrollBar .button-backward .triangle {
  transform: rotate(-90deg) scale(1.1);
}

.HorizontalScrollBar .button-forward .triangle {
  transform: rotate(90deg) scale(1.1);
}

.VerticalScrollBar .button-backward .triangle {
  transform: rotate(0deg) scale(1.1);
}

.VerticalScrollBar .button-forward .triangle {
  transform: rotate(180deg) scale(1.1);
}
