.Slider {
  position: relative;
  min-height: 1em;
  min-width: 3em;
  user-select: none;
}

.Slider .guide-left,
.Slider .guide-right {
  position: absolute;
  top: calc((100% - 0.5em) / 2);
  height: 0.5em;
  background: var(--secondary-background-color);
}

.Slider .guide-left {
  background: var(--theme-color);
  opacity: 0.5;
  left: 0;
  border-radius: 1em 0 0  1em;
}

.Slider .guide-right {
  border-radius: 0 1em 1em 0;
}

.Slider .handle {
  background: var(--theme-color);
  position: absolute;
  width: 1em;
  height: 1em;
  top: calc((100% - 1em) / 2);
  border-radius: 1em;
}

.Slider:hover .handle {
  box-shadow: 0 0 0 1px var(--theme-color);
}

.Slider .value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  font-size: 80%;
  padding: 0 0.3em;
  opacity: 0;
  pointer-events: none;
}

.Slider:hover .value,
.Slider.dragging .value {
  opacity: 1;
}
