.InstrumentBrowser .container {
  padding: 2em;
  overflow: hidden;
}

.InstrumentBrowser .finder.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.InstrumentBrowser .left label,
.InstrumentBrowser .right label {
  padding: 0.5em 1em;
  display: block;
}

.InstrumentBrowser select {
  overflow: auto;
}

.InstrumentBrowser .left {
  float: left;
}

.InstrumentBrowser .left select {
  width: 17em;
}

.InstrumentBrowser .right {
  float: left;
}

.InstrumentBrowser .right select {
  width: 17em;
}

.InstrumentBrowser option {
  padding: 0.5em 1em;
}

.InstrumentBrowser .footer {
  text-align: right;
  clear: both;
}

.InstrumentBrowser button {
  border: none;
  margin-left: 1em;
  margin-top: 1em;
}

.InstrumentBrowser .ok {
  background: #3e4eee;
  color: white;
}

.InstrumentBrowser .cancel {
  background: transparent;
  border: 1px solid currentColor;
  color: rgb(183, 183, 183);
}
