.TrackList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0;
}

.TrackListItem {
  display: flex;
  flex-shrink: 0;
  padding: 0.5em 1em;
  height: 40px;
}

.TrackListItem {
  flex-direction: column;
}

.TrackListItem .controls {
  display: flex;
}

.TrackListItem .controls .Slider {
  flex-grow: 1;
}

.TrackList .add-track:hover {
  color: black;
}

.TrackList .add-track .icon {
  margin-right: 0.5em;
  font-size: 80%;
  font-family: "Flat-UI-Icons";
  font-weight: normal;
}

.TrackListItem .label {
  display: flex;
  padding-bottom: 0.3em;
  font-size: 105%;
  align-items: baseline;
}

.TrackListItem .name {
  padding-right: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TrackListItem .label .instrument {
  opacity: 0.5;
  font-size: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TrackListItem .button {
  font-size: 120%;
  margin-right: 0.5em;
  color: var(--secondary-text-color);
}

.TrackListItem .button,
.TrackListItem .Slider {
  margin-right: 0.5em;
}

.TrackListItem.selected {
  background: rgba(0, 0, 0, 0.03);
}

.TrackListItem.selected .name {
  font-weight: 600;
}

.TrackListItem .button.active {
  color: var(--text-color);
}
