.PianoRollEditor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.PianoRollEditor nav .controls {
  display: flex;
  margin-left: 2em;
}

.PianoRollEditor nav .controls>div {
  margin: 0 0.5em;
  display: flex;
  align-items: center;
}

.PianoRollEditor nav .controls>div .Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.3em;
  font-size: 130%;
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  border-radius: 99px;
  background: var(--secondary-background-color);
  transition: 0.3s ease background-color;
}

.PianoRollEditor nav .controls>div .Icon:hover {
  background: rgba(0, 0, 0, 0.05);
}

.PianoRollEditor nav .controls>div .Icon:active {
  background: rgba(0, 0, 0, 0.1);
}

.PianoRollEditor nav .controls .Slider {
  width: 8em;
}
