@import url("./theme.css");

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

#root {
  height: 100%;
}

div, label, button, canvas, section, a, p, header, footer, ul, li {
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

/* avoid 3px margin */
canvas {
  vertical-align: middle;
}
