@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300");

:root {
  --font: BlinkMacSystemFont, Avenir, Lato;
  --canvas-font: Arial;
  --theme-color: hsl(230, 70%, 55%);
  --red-color: hsl(10, 70%, 55%);
  --yellow-color: hsl(50, 70%, 55%);
  --text-color: hsl(0, 0%, 0%);
  --secondary-text-color: hsl(247, 10%, 62%);
  --tertiary-text-color: hsl(247, 10%, 80%);
  --divider-color: rgba(0, 0, 0, 0.07);
  --background-color: #fff;
  --secondary-background-color: hsl(220, 54%, 98%);
  --tertiary-background-color: hsl(220, 18%, 94%);
  --note-color: hsl(247, 84%, 69%);
  --key-height: 12px;
  --key-width: 64px;
  --ruler-height: 30px;
  --header-height: 40px;
  --side-width: 16em;
  --track-info-height: 12em;
}

body, input, button, textarea, option {
  font-family: var(--font);
  color: var(--text-color);
}
