.InstrumentBrowser .container {
  padding: 2em;
  overflow: hidden;
}

.InstrumentBrowser .finder.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.InstrumentBrowser .left label,
.InstrumentBrowser .right label {
  padding: 0.5em 1em;
  display: block;
}

.InstrumentBrowser select {
  overflow: auto;
  background-color: var(--background-color);
}

.InstrumentBrowser .left {
  float: left;
}

.InstrumentBrowser .left select {
  width: 17em;
}

.InstrumentBrowser .right {
  float: left;
}

.InstrumentBrowser .right select {
  width: 17em;
}

.InstrumentBrowser option {
  padding: 0.5em 1em;
  font-size: 0.9rem;
  color: var(--text-color);
}
