:root {
  --header-height: 40px;
  --side-width: 16em;
  --property-pane-width: 300px;
  --track-info-height: 12em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}
track-info {
  width: var(--side-width);
}
event-table {
  width: var(--side-width);
  overflow: auto;
  height: 100%;
}
#piano-roll {
  position: absolute;
  left: 0;
  top: 0;
}
toolbar {
  display: block;
}
property-pane {
  width: var(--property-pane-width);
  overflow: auto;
}
notes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* fonts setting */

body, input, button, textarea {
  font-family: Avenir, Lato;
}


track-list {
  width: 13em;
  display: block;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid rgb(208, 208, 208);
}

div#side {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-right: 1px solid rgb(208, 208, 208);
}

div#piano-roll-container {flex-grow: 1;position: relative;}

div#vertical {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}