:root {
  --header-height: 40px;
  --side-width: 300px;
  --property-pane-width: 300px;
  --track-info-height: 12em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#container {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: hidden;
}
track-info {
  height: var(--track-info-height);
  width: var(--side-width);
  position: absolute;
  top: 0;
  left: 0;
}
event-table {
  position: absolute;
  left: 0;
  top: var(--track-info-height);
  width: var(--side-width);
  height: calc(100% - var(--track-info-height));
  overflow: scroll;
}
#piano-roll {
  position: absolute;
  left: var(--side-width);
  width: calc(100% - var(--side-width) - var(--property-pane-width));
  height: 100%;
  top: 0;
}
property-pane {
  position: absolute;
  left: calc(100% - var(--property-pane-width));
  width: var(--property-pane-width);
  height: 100%;
  overflow: scroll;
  top: 0;
}
notes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* fonts setting */

body, input, button, textarea {
  font-family: Avenir, Lato;
}
