.NavigationBar {
  display: flex;
  padding: 0 1em;
  height: 38px;
  background: var(--background-color);
  -webkit-app-region: drag;
}

.NavigationBar .title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 130%;
}

.NavigationBar .title .Icon {
  font-size: 180%;
  margin-left: -0.25em;
  display: flex;
  align-items: center;
}

