.Toolbar {
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 0 0.5em;
  z-index: 15;
  height: 38px;
  background: var(--background-color);
}

.ToolbarItem {
  padding: 0.5em;
  cursor: default;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  user-select: none;
  color: var(--secondary-text-color);
}

.ToolbarItem.selected,
.ToolbarItem:active {
  color: var(--text-color);
}

.ToolbarSeparator {
  background: var(--divider-color);
  margin: 0.4em 1em;
  width: 1px;
}
