.LineGraph {
  display: flex;
}

.LineGraph .GraphAxis {
  text-align: right;
  width: var(--key-width);
  border-right: 1px solid var(--secondary-text-color);
}

.LineGraph .GraphAxis .values {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LineGraph .GraphAxis .AxisValue {
  padding: 0.3em;
  font-size: 90%;
  color: var(--secondary-text-color);
}

.LineGraph .GraphAxis .AxisValue:hover {
  background: rgba(0, 0, 0, 0.04);
  cursor: default;
}
